{% extends "layout.html" %}
{% block content %}
  <!-- Form
  ================================================== -->
<script src='static/Chart.min.js'></script>

<h1>平均・最高・最低気温</h1>
<br>
<br>

<div class="form">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form action="/" method="post" class="form-inline">
            <!-- <label for="name">名前</label> -->

            {% if str_start and str_end %}
              <input type="text" class="form-control" name="date_from" placeholder="例.2018-3-1" value={{ str_start }} />～
              <input type="text" class="form-control" name="date_to" placeholder="例.2018-3-7" value={{ str_end }} />を
            {% else %}
              <input type="text" class="form-control" name="date_from" placeholder="例.2018-3-1"/>～
              <input type="text" class="form-control" name="date_to" placeholder="例.2018-3-7"/>を
            {% endif %}
            <button type="submit" class="btn btn-default">描画</button>
          </form>
        </div>
      </div>
    </div>
  </div>

<!-- bar chart canvas element -->
<canvas id="chart" width="600" height="400"></canvas>

<script>
    // bar chart data
    var barData = {
        labels : [{% for item in labels %}
            "{{item}}", {% endfor %}],
        datasets : [
            {
                //凡例
                label: "平均気温",
                //面の表示
                fill: false,
                //線のカーブ
                lineTension: 0,
                //枠線の色
                borderColor: "rgba(255, 255, 0, 1)",
                //結合点の枠線の色
                pointBorderColor: "rgba(255, 255, 0, 1)",
                //結合点の背景色
                pointBackgroundColor: "rgba(255, 255, 0, 1)",
                //結合点のサイズ
                pointRadius: 5,
                //結合点のサイズ（ホバーしたとき）
                pointHoverRadius: 8,
                //結合点の背景色（ホバーしたとき）
                pointHoverBackgroundColor: "rgba(200, 200, 0, 1)",
                //結合点の枠線の色（ホバーしたとき）
                pointHoverBorderColor: "rgba(200, 200, 0, 1)",
                //結合点より外でマウスホバーを認識する範囲（ピクセル単位）
                pointHitRadius: 15,
                bezierCurve : false,
                data : [{% for item in dataset_ave %}
                        {{item}},
                        {% endfor %}],
            },{
                label: "最高気温",
                fill: false,
                lineTension: 0,
                borderColor: "rgba(255,0,0,1)",
                pointBorderColor: "rgba(255,0,0,1)",
                pointBackgroundColor: "rgba(255,0,0,1)",
                pointRadius: 5,
                pointHoverRadius: 8,
                pointHoverBackgroundColor: "rgba(255,0,0,1)",
                pointHoverBorderColor: "rgba(255,0,0,1)",
                pointHitRadius: 15,
                bezierCurve : false,
                data : [{% for item in dataset_max %}
                        {{item}},
                        {% endfor %}],
            },{
                label: "最低気温",
                fill: false,
                lineTension: 0,
                borderColor: "rgba(0,0,255,1)",
                pointBorderColor: "rgba(0,0,255,1)",
                pointBackgroundColor: "rgba(0,0,255,1)",
                pointRadius: 5,
                pointHoverRadius: 8,
                pointHoverBackgroundColor: "rgba(0,0,255,1)",
                pointHoverBorderColor: "rgba(0,0,255,1)",
                pointHitRadius: 15,
                bezierCurve : false,
                data : [{% for item in dataset_min %}
                        {{item}},
                        {% endfor %}],
            }
        ]
    }
 
    Chart.defaults.global.animationSteps = 50;
    Chart.defaults.global.tooltipYPadding = 16;
    Chart.defaults.global.tooltipCornerRadius = 0;
    Chart.defaults.global.tooltipTitleFontStyle = "normal";
    Chart.defaults.global.animationEasing = "easeOutBounce";
    Chart.defaults.global.responsive = false;
    Chart.defaults.global.scaleLineColor = "black";
    Chart.defaults.global.scaleFontSize = 16;
 
    // get bar chart canvas
    var mychart = document.getElementById("chart").getContext("2d");
    var myLineChart = new Chart(mychart, {
        type: 'line',
        data: barData,
        options: {
            showLines: true,
            scales: {
                yAxes: [
                  {
                    ticks: {
                      beginAtZero: true,
                      min: -20,
                      max: 50
                    }
                  }
                ]
              }
        }
    });
</script>
 
 {% endblock %}