{% extends "layout.html" %}
{% block content %}
  <!-- Form
  ================================================== -->
<script src='static/Chart.min.js'></script>
<script src='static/jquery.cookie-1.4.1.min.js'></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


<h1>平均・最高・最低気温</h1>
<br>
<div class="form">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form action="/" method="post" id="range-form"class="form-inline">
            センサーID - ノードID：
            <input type="text" id="sens-node-input" list="sens-node-list" placeholder="センサID-ノードID" >
            <datalist id="sens-node-list">
            </datalist>

            <div style="margin:10px">

            {% if str_start and str_end %}
              <input id="datepicker_from" type="text" class="form-control" name="date_from"  value={{ str_start }} />～
              <input id="datepicker_to" type="text" class="form-control" name="date_to"  value={{ str_end }} />を
            {% else %}
              <input id="datepicker_from" type="text" class="form-control" name="date_from" placeholder="例.2018-3-1"/>～
              <input id="datepicker_to" type="text" class="form-control" name="date_to" placeholder="例.2018-3-7"/>を
            {% endif %}
            <button type="submit" id="draw-btn"class="btn btn-default">描画</button>
          </form>
        </div>
      </div>
      
    </div>
  </div>

<!-- bar chart canvas element -->
<canvas id="chart" width="600" height="400"></canvas>

<script>
    $(document).ready(
      function(){
        $("#datepicker_from").flatpickr();
        $("#datepicker_to").flatpickr();
        
        //論理和で空文字代入はNUllのときのエラー対策.
        const sens_node = ($.cookie("sens-node")|| '').split(",");
        
        for(var i=0;i<sens_node.length;i++){
          console.log(`set option:${sens_node[i]}` );
          $("#sens-node-list").append(`<option value=\"${sens_node[i]}\">`);
        }

        $('#draw-btn').click(function() {
          console.log(`add option:${$("#sens-node-input").val()}` );
          appendCookie("sens-node", $("#sens-node-input").val());
          $("#sens-node-list").append(`<option value=\"${$("#sens-node-input").val()}\">`);
          $('#range-form').submit();
        });
      }
    );

    function appendCookie(cookieKey, value){
      var current_cookie = $.cookie(cookieKey);
      if(current_cookie == null){
        $.cookie(cookieKey, value + ",");
        return true;
      }
      var current_cookies = $.cookie(cookieKey).split(",");
      for(var i=0;i<current_cookies.length;i++){
        if(current_cookies[i] == value){
          return false;
        }
      }
      $.cookie(cookieKey, $.cookie(cookieKey) + value + ",");
      return true;
    }

    // bar chart data
    var barData = {
        labels : [{% for item in labels %}
            "{{item}}", {% endfor %}],
        datasets : [
            {
                //凡例
                label: "平均気温",
                //面の表示
                fill: false,
                //線のカーブ
                lineTension: 0,
                //枠線の色
                borderColor: "rgba(255, 255, 0, 1)",
                //結合点の枠線の色
                pointBorderColor: "rgba(255, 255, 0, 1)",
                //結合点の背景色
                pointBackgroundColor: "rgba(255, 255, 0, 1)",
                //結合点のサイズ
                pointRadius: 5,
                //結合点のサイズ（ホバーしたとき）
                pointHoverRadius: 8,
                //結合点の背景色（ホバーしたとき）
                pointHoverBackgroundColor: "rgba(200, 200, 0, 1)",
                //結合点の枠線の色（ホバーしたとき）
                pointHoverBorderColor: "rgba(200, 200, 0, 1)",
                //結合点より外でマウスホバーを認識する範囲（ピクセル単位）
                pointHitRadius: 15,
                bezierCurve : false,
                data : [{% for item in dataset_ave %}
                        {{item}},
                        {% endfor %}],
            },{
                label: "最高気温",
                fill: false,
                lineTension: 0,
                borderColor: "rgba(255,0,0,1)",
                pointBorderColor: "rgba(255,0,0,1)",
                pointBackgroundColor: "rgba(255,0,0,1)",
                pointRadius: 5,
                pointHoverRadius: 8,
                pointHoverBackgroundColor: "rgba(255,0,0,1)",
                pointHoverBorderColor: "rgba(255,0,0,1)",
                pointHitRadius: 15,
                bezierCurve : false,
                data : [{% for item in dataset_max %}
                        {{item}},
                        {% endfor %}],
            },{
                label: "最低気温",
                fill: false,
                lineTension: 0,
                borderColor: "rgba(0,0,255,1)",
                pointBorderColor: "rgba(0,0,255,1)",
                pointBackgroundColor: "rgba(0,0,255,1)",
                pointRadius: 5,
                pointHoverRadius: 8,
                pointHoverBackgroundColor: "rgba(0,0,255,1)",
                pointHoverBorderColor: "rgba(0,0,255,1)",
                pointHitRadius: 15,
                bezierCurve : false,
                data : [{% for item in dataset_min %}
                        {{item}},
                        {% endfor %}],
            }
        ]
    }
 
    Chart.defaults.global.animationSteps = 50;
    Chart.defaults.global.tooltipYPadding = 16;
    Chart.defaults.global.tooltipCornerRadius = 0;
    Chart.defaults.global.tooltipTitleFontStyle = "normal";
    Chart.defaults.global.animationEasing = "easeOutBounce";
    Chart.defaults.global.responsive = false;
    Chart.defaults.global.scaleLineColor = "black";
    Chart.defaults.global.scaleFontSize = 16;
 
    // get bar chart canvas
    var mychart = document.getElementById("chart").getContext("2d");
    var myLineChart = new Chart(mychart, {
        type: 'line',
        data: barData,
        options: {
            showLines: true,
            scales: {
                yAxes: [
                  {
                    ticks: {
                      beginAtZero: true,
                      min: -20,
                      max: 50
                    }
                  }
                ]
              }
        }
    });
</script>
 
 {% endblock %}